@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Blood Donation site contains information about the number of blood banks and applicants willing to donate blood.
    Both Doctors and users can register to the site.
    It can be used in case of emergency to search for potential donors and availability of blood in nearby blood banks.</p>
